/* Navbar */
#navbar .logo {
    float: none;
    text-align: center;
}

#navbar ul, #navbar ul li {
    float: none;
}

#navbar ul li a {
    padding: 8px;
    border-bottom: 1px dotted #444;
}

/* Showcase */
#showcase {
    height: 100%;
}

#showcase .showcase-content {
    padding-top: 50px;
    padding-bottom: 40px;
}

/* Home_Info */
#home_info {
    height: 480px;
}

#home_info .info_image {
    display: none;
}

#home_info .info_content {
    float: none;
    width: 100%;
}

/* Features */
.box {
    float: none;
    width: 100%;
}

/* About Page */
#about_info .info_right,
#about_info .info_left {
    float: none;
    width: 100%;
}

#about_info .info_right {
    margin-top: 30px;
}

.l_heading {
    text-align: center;
}

/* Contact Form */
#contact_info .box {
    border-bottom: 1px #444 dotted ;
}




